<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace indentsize="4">
      <listeners>
        <add name="FileListener" type="HDMIOverIPApp.diagnostics.trace.LimitedFileTraceListener,HDMIOverIPApp.diagnostics.trace" initializeData="c:\apps\logs\HDMIOverIPApp_error.log">
        </add>
      </listeners>
    </trace>
    <switches>
      <!-- off=0, error=1, warning=2, info=3, verbose=4 -->
      <add name="HDMIOverIPApp" value="4"/>
      <add name="HDMIOverIPApp.communication.net" value="4"/>
    </switches>
  </system.diagnostics>
</configuration>